appdirs
apturl
bcrypt
blinker
brlapi
certifi
chardet
chrome-gnome-shell
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
django
django-crispy-forms
duplicity
entrypoints
fasteners
filelock
future
gunicorn
idna
importlib-metadata
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
markupsafe
monotonic
more-itertools
netifaces
oauthlib
olefile
paramiko
pexpect
pillow
pip-chill
pipenv
protobuf
psycopg2-binary
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
pyyaml
reportlab
requests
requests-unixsocket
simplejson
systemd-python
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
virtualenv-clone
xkit
zipp
