{% extends "polls/base.html" %}
{% load static %}
{% block content %}
    <!-- header -->
    <header class = "flex header-sm">
        <div class = "container">
            <div class = "header-title">
                <h1>Sobre nós</h1>
                <p>"texto"</p>
            </div>
        </div>
    </header>
    <!-- header -->

    <!-- about section -->
    <section id = "about" class = "py-4">
        <div class = "container">
            <div class = "title-wrap">
                <span class = "sm-title">fica a conhecer melhor a nossa associação</span>
                <h2 class = "lg-title">história da associação</h2>
            </div>

            <div class = "about-row">
                <div class = "about-left my-2">
                    <img src = "{% static 'images/anpc.png' %}" alt = "about img">
                </div>
                <div class = "about-right">
                    <h2>ANPC</h2>
                    <p class = "text">A Associação Nacional dos Parques de Campismo (ANPC), uma organização responsável pela gestão dos Parques de Campismo em Portugal. As suas principais áreas de atuação são: Turismo e Lazer.</p>
                    <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique explicabo blanditiis quidem consequuntur qui quaerat fuga iste tenetur consequatur porro. Aliquam maiores alias doloribus at quisquam quo numquam perferendis. Odit!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end of about section -->

    <!-- facts section -->
    <section id = "facts" class = "py-4 flex">
        <div class = "container">
            <div class = 'title-wrap'>
                <span class = "sm-title">conhece alguns factos interessantes da nossa associação</span>
                <h2 class = "lg-title">factos interessantes</h2>
            </div>

            <div class = "facts-row">
                <div class = "facts-item">
                    <span class = "fas fa-camera-retro facts-icon"></span>
                    <div class = "facts-info">
                        <strong>1220</strong>
                        <p class = "text">photos taken</p>
                    </div>
                </div>

                <div class = "facts-item">
                    <span class = "fas fa-umbrella-beach  facts-icon"></span>
                    <div class = "facts-info">
                        <strong>450</strong>
                        <p class = "text">beaches visited</p>
                    </div>
                </div>

                <div class = "facts-item">
                    <span class = "fas fa-mountain facts-icon"></span>
                    <div class = "facts-info">
                        <strong>84</strong>
                        <p class = "text">mountains climbed</p>
                    </div>
                </div>

                <div class = "facts-item">
                    <span class = "fas fa-ship facts-icon"></span>
                    <div class = "facts-info">
                        <strong>120</strong>
                        <p class = "text">cruises organized</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of facts section -->
{% endblock content %}