{% extends "polls/base.html" %}
{% load static %}
{% block content %}
    <!-- header -->
    <header class = "flex">
        <div class = "container">
            <div class = "header-title">
                <h1>Encontra o teu parque favorito com CampingSpot</h1>
                <p>Com o CampingSpot podes fazer reservas de alojamento ou, simplesmente, reservar um lugar nas tuas atividades preferidas em qualquer parque de Portugal</p>
            </div>
            <div class = "header-form">
                <h2>Pesquisar parque:</h2>
                <form class = "flex" method=POST action = "{% url 'polls-search' %}">
                    {% csrf_token %}
                    <input type = "text" class = "form-control" placeholder="Nome do parque ou distrito" name="searched">
                    <input type="submit" class = "btn" value = "Procurar" >
                </form>
            </div>
        </div>
    </header>
    <!-- header -->

    <!-- featured section -->
    <section id = "featured" class = "py-4">
        <div class = "container">
            <div class = "title-wrap">
                <span class = "sm-title">Conhece parques por todo o país</span>
                <h2 class = "lg-title">Mais populares</h2>
            </div>
            <div class = "featured-row">
                {%for parque in parques %}
                    {%if parque.rating >= 4 %}
                        <div class = "featured-item my-2 shadow">
                            <img src ="/static/{{parque.image}}" alt = "featured place">
                            <div class = "featured-item-content">
                                <span>
                                    <i class = "fas fa-map-marker-alt"></i>
                                    {{parque.nome}}, {{parque.location}}
                                </span>
                                <span>{{parque.pricepn|floatformat:2}}€ por noite</span>
                                <form method=POST action = "{% url 'polls-reservation' %}">
                                    {% csrf_token %}
                                    <input type="hidden" class="form-control" name="reserva" id="reserva" value="{{parque.nome}}">
                                    <input class = "btn" type="submit" value="Reservar">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end of featured section -->

    <!-- services section -->
    <section id = "services" class = "py-4">
        <div class = "container">
            <div class = "title-wrap">
                <span class = "sm-title">Conhece os serviços que os nossos parques oferecem</span>
                <h2 class = "lg-title">Serviços</h2>
            </div>

            <div class = "services-row">
                <div class = "services-item">
                    <span class = "services-icon">
                        <i class="fas fa-campground"></i>
                    </span>
                    <h3>Glamping</h3>
                    <p class = "text">Disfrute do melhor que a Natureza tem para lhe oferecer com os novos parques Glamping. Nunca foi tão fácil acampar com glamour.</p>
                </div>

                <div class = "services-item">
                    <span class = "services-icon">
                        <i class = "fas fa-map-marked-alt"></i>
                    </span>
                    <h3>Guia Turístico</h3>
                    <p class = "text">Comece a explorar novos horizontes. Com a ajuda dos nossos guias turísticos poderá conhecer tudo o que a Natureza tem para oferecer.</p>
                </div>

                <div class = "services-item">
                    <span class = "services-icon">
                        <i class = "fas fa-money-bill"></i>
                    </span>
                    <h3>Os Melhores Preços</h3>
                    <p class = "text">Disfrute de uma escapadinha de umas férias para descansar sem gastar muito dinheiro, com as nossas ofertas especiais.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end of services section -->

    <!-- testimonials section -->
    <section id = "testimonials" class = "py-4">
        <div class = "container">
            <div class = "title-wrap">
                <span class = "sm-title">o que os nossos clientes dizem dos nossos parques</span>
                <h2 class = "lg-title">reviews</h2>
            </div>

            <div class = "test-row">
                <div class = "test-item">
                    <p class = "text">Adorei! Experiência fantástica, acampamento muito bem organizado e com funcionários de excelência. Recomendo!</p>
                    <div class = "test-item-info">
                        <img src = "{% static 'images/test-1.jpg' %}" alt = "testimonial">
                        <div>
                            <h3>Alexandre Gonçalves</h3>
                            <p class = "text">Selina Gerês, Braga</p>
                        </div>
                    </div>
                </div>

                <div class = "test-item">
                    <p class = "text">Sítio fantástico. Foi muito relaxante, adorei a praia e só me apetecia tirar mais uns dias naquele paraíso. Dos melhores parques que já visitei!</p>
                    <div class = "test-item-info">
                        <img src = "{% static 'images/test-2.jpg' %}" alt = "testimonial">
                        <div>
                            <h3>Cristiano Amorim</h3>
                            <p class = "text">Parque de Campismo da Berlenga, Leiria</p>
                        </div>
                    </div>
                </div>

                <div class = "test-item">
                    <p class = "text">Experiência inesquecível! Certamente, não será a última vez que irei fazer glamping. Acampar com Glamour!</p>
                    <div class = "test-item-info">
                        <img src = "{% static 'images/test-3.jpg' %}" alt = "testimonial">
                        <div>
                            <h3>Laura Lopes</h3>
                            <p class = "text">Soul Glamping, Madeira</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of testimonials section -->
{% endblock content %}
