{% extends "polls/base.html" %}
{% load static %}
{% block content %}
    <!-- header -->
    <header class = "flex">
        <div class = "container">
            <div class = "header-title">
                <h1>Encontra o teu parque favorito com CampingSpot</h1>
                <p>Com o CampingSpot podes fazer reservas de alojamento ou, simplesmente, reservar um lugar nas tuas atividades preferidas em qualquer parque de Portugal</p>
            </div>
            <div class = "header-form">
                <h2>Escolhe o parque:</h2>
                <form class = "flex">
                    <input type = "text" class = "form-control" placeholder="Nome do parque ou distrito">
                    <input type="date" class = "form-control" placeholder="Data">
                    <input type="number" class = "form-control" placeholder="Preço (€)">
                    <input type="submit" class = "btn" value = "Procurar">
                </form>
            </div>
        </div>
    </header>
    <!-- header -->

    <!-- featured section -->
    <section id = "featured" class = "py-4">
        <div class = "container">
            <div class = "title-wrap">
                <span class = "sm-title">Conhece parques por todo o país</span>
                <h2 class = "lg-title">Mais populares</h2>
            </div>
            <div class = "featured-row">
                <div class = "featured-item my-2 shadow">
                    <img src ="{% static 'images/orbitur-beja.jpeg' %}" alt = "featured place">
                    <div class = "featured-item-content">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                            Orbitur Sitava Milfontes, Beja
                        </span>
                        <div>
                            <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                        </div>
                    </div>
                </div>

                <div class = "featured-item my-2 shadow">
                    <img src = "{% static 'images/berlengas.jpg' %}" alt = "featured place">
                    <div class = "featured-item-content">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                            Parque de Campismo da Berlenga, Leiria
                        </span>
                        <div>
                            <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                        </div>
                    </div>
                </div>

                <div class = "featured-item my-2 shadow">
                    <img src = "{% static 'images/geres.jpeg' %}" alt = "featured place">
                    <div class = "featured-item-content">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                            Selina Gerês, Braga
                        </span>
                        <div>
                            <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                        </div>
                    </div>
                </div>

                <div class = "featured-item my-2 shadow">
                    <img src = "{% static 'images/glamping-madeira.jpg' %}" alt = "featured place">
                    <div class = "featured-item-content">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                            Soul Glamping, Madeira
                        </span>
                        <div>
                            <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                        </div>
                    </div>
                </div>

                <div class = "featured-item my-2 shadow">
                    <img src = "{% static 'images/normad-vilareal.jpg' %}" alt = "featured place">
                    <div class = "featured-item-content">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                            Nomad Planet, Vila Real
                        </span>
                        <div>
                            <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                        </div>
                    </div>
                </div>

                <div class = "featured-item my-2 shadow">
                    <img src = "{% static 'images/salema-faro.jpg' %}" alt = "featured place">
                    <div class = "featured-item-content">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                            Salema Eco Camp, Faro
                        </span> 
                        <div>
                            <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of featured section -->

    <!-- services section -->
    <section id = "services" class = "py-4">
        <div class = "container">
            <div class = "title-wrap">
                <span class = "sm-title">Conhece os serviços que os nossos parques oferecem</span>
                <h2 class = "lg-title">Serviços</h2>
            </div>

            <div class = "services-row">
                <div class = "services-item">
                    <span class = "services-icon">
                        <i class="fas fa-campground"></i>
                    </span>
                    <h3>Glamping</h3>
                    <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                    <a href = "#" class = "btn">Ver mais</a>
                </div>

                <div class = "services-item">
                    <span class = "services-icon">
                        <i class = "fas fa-map-marked-alt"></i>
                    </span>
                    <h3>Guia Turístico</h3>
                    <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                    <a href = "#" class = "btn">Ver mais</a>
                </div>

                <div class = "services-item">
                    <span class = "services-icon">
                        <i class = "fas fa-money-bill"></i>
                    </span>
                    <h3>Os Melhores Preços</h3>
                    <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                    <a href = "#" class = "btn">Ver mais</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end of services section -->

    <!-- testimonials section -->
    <section id = "testimonials" class = "py-4">
        <div class = "container">
            <div class = "title-wrap">
                <span class = "sm-title">o que os nossos clientes dizem dos nossos parques</span>
                <h2 class = "lg-title">reviews</h2>
            </div>

            <div class = "test-row">
                <div class = "test-item">
                    <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda blanditiis, asperiores, velit iste eos officiis tempora magni quaerat quo consectetur expedita cum recusandae facere nam voluptate minus iusto eum. Delectus!</p>
                    <div class = "test-item-info">
                        <img src = "{% static 'images/test-1.jpg' %}" alt = "testimonial">
                        <div>
                            <h3>Kevin Wilson</h3>
                            <p class = "text">Trip to Brazil</p>
                        </div>
                    </div>
                </div>

                <div class = "test-item">
                    <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut dolores tenetur harum deserunt. Maxime tenetur consectetur recusandae nobis fugit iusto natus quibusdam nulla!</p>
                    <div class = "test-item-info">
                        <img src = "{% static 'images/test-2.jpg' %}" alt = "testimonial">
                        <div>
                            <h3>Ben Davis</h3>
                            <p class = "text">Trip to Maldives</p>
                        </div>
                    </div>
                </div>

                <div class = "test-item">
                    <p class = "text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sapiente amet expedita quae autem deleniti quo magni numquam facilis soluta dicta, praesentium ipsum, quos optio sed quibusdam! Reprehenderit recusandae provident id nemo!</p>
                    <div class = "test-item-info">
                        <img src = "{% static 'images/test-3.jpg' %}" alt = "testimonial">
                        <div>
                            <h3>Jaura Jones</h3>
                            <p class = "text">Trip to Thailand</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of testimonials section -->
{% endblock content %}
