{% extends "polls/base.html" %}
{% load static %}
{% block content %}
    <header class="flex">
      <div class = "header-title">
         <h1>Historico Reservas</h1>
      </div>
      <div>
      <table style="border-spacing: 25px; border: 1px solid;">
               <thead class="thead-dark">
                  <tr style="font-size: 150%;">
                     <th >Parque</th>
                     <th>Número de pessoas</th>
                     <th>Actividade</th>
                     <th>Número de Dias</th>
                     <th>Data</th>
                     <th>Preço</th>
                  </tr>
               </thead>
               <tbody>
                {% for reserva in reservas %}
                  <tr>
                     <td>{{ reserva.parque }}</td>
                     <td>{{ reserva.npessoas }}</td>
                     <td>{{ reserva.activity }}</td>
                     <td>{{ reserva.days }}</td>
                     <td>{{ reserva.datei }} - {{ reserva.datef }}</td>
                     <td>{{ reserva.price|floatformat:2 }}€</td>
                     {% if time < reserva.datei %}
                        <form method=POST action = "{% url 'historico' %}">
                           {% csrf_token %}
                           <input type="hidden" class="form-control" name="cancelar" id="cancelar" value="{{reserva.id}}">
                           <td><input class="btn" class="form-control" type="submit" value="Cancelar Reserva" style="text-align: center;"></td>
                        </form>
                     {% endif %}
                  </tr>
                  {%endfor%}
               </tbody>
            </table> 
    </div>
    </header>
{% endblock content %}