{% extends "polls/base.html" %}
{% load static %}
{% block content %}
    <!-- header -->
    <header class = "flex" style="text-align: left;">
        <div class = "container">
            <div class = "header-title">
                <h2>Logout com sucesso!</h2>
            </div>
            
            <div class="border-top pt-3">
                <a class="btn" href="/">Voltar à página inicial</a>
            </div>
        
        </div>
    </header>
    <!-- header -->
{% endblock content %}
        