{% extends "polls/base.html" %}
{% load static %}
{% block content %}
    <header class="flex">
        <div class="content-section">
            <div class="media" style="padding-right: 625px;">
                <img src="/static/images/default.jpg" style="width: 100px; height: 100px; border-radius: 100%; margin: 1rem;">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <pclass="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <div style="margin-top: -200px;">
                <form method=POST action = "{% url 'historico' %}">    
                    {% csrf_token %}
                    <div class="reserva-item" style="padding-left: 500px; width: 250px;">
                    <input type="hidden" class="form-control" name="id_user" id="id_user" value="{{user.id}}">
                    <input class = "btn" type="submit" value="Historico Reservas" style="text-align: center;">
                    </div>
                    <!--
                    <div class="reserva-item" style="padding-left: 500px; width: 250px; margin-top: 100px;">
                        <span><a href = "/sugestao.html" class = "btn">Sugestoes site</a></span>
                    </div>
                    -->
                </form>
            </div>
        </div>
    </header>
{% endblock content %}