{% extends "polls/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <!-- header -->
    <header class = "flex" style="text-align: left;">
        <div class = "container">
            <div class = "header-title">
                <h1>Cria a tua conta CampingSpot</h1>
            </div>
            <div class = "header-form">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">{{ form|crispy}}</fieldset>
                    </br>
                    <div class="form-group">
                    <button class="btn" type="submit">Sign Up</button>
                    </div>
                </form>
                </br>
                <div class="border-top pt-3">
                    <small class="text-muted">Já tens uma conta? <a class="ml-2" href="/login" style="color:white ;">Sign In</a></small>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->
{% endblock content %}
